body {
    margin: 0;
}

.topnav {
    font-family: myFirstFont;
    overflow: hidden;
    background-color: #01754f;
    padding: 10px;
}

.topnav a {
    float: center;
    color: #ffee00;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;  
}

.topnav a:hover {
    color: #ffffff;
}

@font-face {
    font-family: myFirstFont;
    src: url("fonts/Anurati-Regular.otf");
}