html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: "Optima", "Book Antiqua", "Palatino", "Palatino Linotype", "Palatino LT STD", "Georgia", "source-han-serif-sc", "Source Han Serif SC", "Source Han Serif CN", "Source Han Serif TC", "Source Han Serif TW", "Source Han Serif", "Songti SC", "Microsoft YaHei", serif;
    font-size: 13px;
    color: #3B444B;
    background-color: #18c6dd;
}

a {
    color: #6D351A;
}

img {
    width: 250px;
    height: auto;
    border-radius: 20px 0 0 0;
}

.parentbox {
    width: 100%;
    height: 100%;
    position: relative;
}

.container-center {
    display: table;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);   
    width: 1000px; 
    height: 0px;
    /* margin: 50px; */
    /* padding: 0; */
    border-width: 1px;
    border-radius: 20px;
    box-shadow: 0px 0 100px 5px;
    background-color: #ffffff;
}

.container {
    display: table;
    width: 1000px; 
    height: 0px;
    margin: 50px 0 50px 0;
    /* padding: 0; */
    border-width: 1px;
    border-radius: 20px;
    box-shadow: 0px 0 100px 5px;
    background-color: #ffffff;
}

.topnav {
    display: table;
    max-width: 500px;
    width: 250px;
    height: 100%;
    border-radius: 20px 0 0 20px;
    overflow: auto;
    background-color: #483C32;
    padding: 0px;
    opacity: 30%;
    float: left;
}

.topnav a {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    float: center;
    color: #D4AF37;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
}

.topnav a:hover {
    color: #ffffff;
}

.title {
    font-family: "Anurati-Regular";
    font-size: 60px;
    color: #D4AF37;
    text-align: center;
}

.page {
    padding: 30px;
    float: right;
    max-width: 690px;
    line-height: 170%;
}

.quote {
    font-family: "Shorthalt thin";
    font-size: 25px;
    line-height: 80%;
    max-width: 350px;
}

.quote a {
    font-family: "Optima", "Book Antiqua", "Palatino", "Palatino Linotype", "Palatino LT STD", "Georgia", "source-han-serif-sc", "Source Han Serif SC", "Source Han Serif CN", "Source Han Serif TC", "Source Han Serif TW", "Source Han Serif", "Songti SC", "Microsoft YaHei", serif;
    font-size: 10px;
}

.space {
    height: 20px;
}
.amiri {
    font-family: 'Amiri', serif;
}

@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/earlyaccess/amiri.css");

@font-face {
    font-family: "Anurati-Regular";
    src: url("fonts/Anurati-Regular.otf");
}

@font-face {
    font-family: "Elianto-Regular";
    src: url("fonts/Elianto-Regular.ttf");
}

@font-face {
    font-family: "Finity";
    src: url("fonts/Finity.ttf");
}

@font-face {
    font-family: "Shorthalt";
    src: url("fonts/Shorthalt Personal Use.otf");
}

@font-face {
    font-family: "Shorthalt thin";
    src: url("fonts/Shorthalt Thin Personal Use.otf");
}